<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bismuth</title>
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <script src="{{ url_for('static', filename='socket.io.js') }}"></script>
    <script src="{{ url_for('_bismuth_js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='android-chrome-512x512.png') }}" width="100" height="100"/>
   <h1>Bismuth bot manager</h1>
   <script>
        function emitData(bot, data) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", '/bots/' + bot, true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify(data));
        }
    </script>
   <div class="container" id="content">
    <div class="row">
        <h3><button onclick="document.getElementById('main_log').innerHTML=''">Clear</button> General log:</h3> 
        <textarea id="main_log" rows="10" cols="100" readonly>{{ main_log }}</textarea>
    </div>
</div>

{% for bot in bots %}
    <h2>{{ bot.name | capitalize }}</h2>
    <button onclick="emitData('{{ bot.name }}', {'status':'start'})">Start</button>
    <button onclick="emitData('{{ bot.name }}', {'status':'stop'})">Stop</button>
    <button onclick="emitData('{{ bot.name }}', {'status':'restart'})">Restart</button>
    <div class="container" id="content">
        <div class="row">
            <h3><button onclick="document.getElementById('log_{{ bot.name }}').innerHTML=''">Clear</button> {{ bot.name | capitalize }} log:</h3>
            <textarea id="log_{{ bot.name }}" rows="10" cols="100" readonly>{{ bot.log }}</textarea>
        </div>
    </div>
{% else %}
    <em><p>No bots found</p></em>
{% endfor %}
</body>
</html>